
body { 
  font-family: "Times New Roman", Times, serif;
  color: black;

}

header h1{
  margin-top: 3rem;
}

a {
  color: darkorange
}

a:hover {
  color: rgb(255, 81, 0);
  background-color: transparent;
  text-decoration: underline;
}

#submit-button { 
  float: left; 
  margin-left: 20px; 
  border-radius: 35px;
  font-size: 16px;
}
.container {
  width: 90vw;
  margin: auto;
  padding-top: 5rem ;
  padding-bottom: 8rem;
}

.container div {
  padding: 5px;
}

.grid-container{
  background-color: white; 
  border-radius: 20px;
}

#grid-container-1{
  max-width: 50rem;
}

.grid_row{
  margin:auto;
}
.grid-container h3{
  padding-top: 5px;
  font-size: 28px;
}

.grid-container label{
  font-size: 18px;
  font-weight: bold;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

#result-card p{
  text-align: left;
}
#result-card p, h3{
    font-weight: bold;
}

#result-card span{
  font-weight: 300;
}

.modal-list img{
  padding-top: 3rem;
  padding-bottom: 3rem;
  width:auto;
  height:auto;
  max-width: 70rem;
  max-height: 70rem;
}

.close {
  float: left;
  font-size: 24px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  cursor:pointer;
}

.modal-list h3 {
    font-size: 36px;
    color: darkblue;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
    padding-top: 15px;
}

.modal-list h2 {
  font-size: 26;
  text-align: center;
  font-weight: bold;
  border-style: 1px solid black;
}

.equal-height-cards cell {
    display: flex;
    align-items: stretch;
}

.card img{
  height: 80%;
  width: 80%;
  background-color: var(--secondary);
}

.card-divider{
  background-color: var(--secondary);
}